
@import url(pretendard.css);

html,
body {margin:0;padding:0;font-family:'Pretendard';font-weight:400;}

/* Scrollbar Style */
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);background-color:#F5F5F5;}
::-webkit-scrollbar{width:5px;background-color:#F5F5F5;}
::-webkit-scrollbar-thumb{background-color:#156fb9;border-radius:0;}

.wrap {position:relative;width:100%;min-height:100vh;}

.main_visual {position:relative;margin:0 auto;width:100%;max-width:2500px;height:1235px;overflow:hidden;display:flex;justify-content:center;}
.video_container{width: 2500px;height: 1235px;}
.main_visual_ctn {position:relative;z-index:1;}
.video_container .frame_area {position: absolute;top: 50%;left: 50%;width: 2500px;height: 1235px;transform: translate(-50%, -50%);z-index:1;background-color:rgba(255,255,255,0.0000001)}
.video_container iframe {position: absolute;top: 50%;left: 50%;width: 2500px;height: 1235px;transform: translate(-50%, -50%);}


@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
@media (max-aspect-ratio: 16/9) {
.video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
}
}